header {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
    background-color: #fff;
}

header .container {
    padding-top: 10px;
    padding-bottom: 10px;
}

header .nav li {
    margin-left: 10px;
    
    a { border-radius: 50%;
        line-height: 1em; // alm. line-height gør cirklen på hover oval.
    }
}

header a {
    font-size: 1.25em;
    color: $color-base;
    
    &:hover { color: $color-base; }
}
