.header {
    position: fixed;
    top: 0;
    min-height: 50px;
    width: 100%;
    
    padding-top: 0;    // No padding on mobile
    padding-bottom: 0; // No padding on mobile
    
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
    background-color: rgba(255,255,255,1);
    
    z-index: 100;
    transition: all .15s ease-in-out;
    
    a { color: $color-base; }
    
    // Transition height of reading indicator
    &:hover .reading-position-indicator {
        height: 5px;
    }
}

@media(min-width: $bp-medium) {
    
    // Classes for keeping the header big, when the dropdown is active
    .header,
    .header:hover,
    .dropdown-active .header {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(255, 255, 255, 1);
    }
    .header-inactive {
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: rgba(255, 255, 255, .95);
    }
}

.header-logo {
    float: left;
    margin-left: -15px;
    padding: 15px 15px;
    height: 50px;
    
    font-family: $font-sans-serif-bold;
    font-size: 2.0em;
}

.header-nav {
    display: block;
    margin: 7.5px -15px;
    margin-right: 0px;
    padding-left: 0;
    float: right !important;
}

.header-nav li {
    margin-left: 10px;
    float: left;
    list-style-type: none;
    position: relative;
}

.nav-item {
    display: block;
    padding: 10px 12px;
    font-size: 1.7em;
    line-height: 1em;
    border-radius: 50%;

    @media(min-width: $bp-medium) {
        &:hover {
            background-color: $color-bg-light;
        }
    }
    &:active {
        background-color: $color-base;

        span {
            color: #fff;
        }
    }
}

.nav-item-active {
    background-color: $color-base;
            
    span {
        color: #fff;
    }
    
    &:hover {
        background-color: $color-base;
    }
}

.nav-arrow {
    z-index: 1;
    width: 30px;
    margin-top: 17px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

