/* SEARCH */
/*    OVERORDNET STYLING FOR HELE SEARCH    */

// search-results er wrapper for alt indhold i dropdown_search
.search-results {
    display: none;
    margin-top: 40px;
    
    h4 {
        margin-bottom: 40px;
    }
    
    p {
        color: #000;
        text-indent: inherit;
    }
    
    a {
        color: #000;
        text-decoration: none;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: $bp-small) {
    .search-results {
        margin-top: 15px;
    }
}

// Rammer alle colonner i row*3
    .row .row .row div[class^="col-"] {
        padding-left: 30px;
        padding-right: 30px;
    }

/*    STYLING FOR RESULTATER I DENNE TEKST    */

// Wrapper om hvert søgeresultat for teksten man læser i
.search-result-current-wrapper {
    margin-bottom: 15px;
}

//  search-result-sentence er sætningen til søgeresultatet i denne tekst
.search-result-sentence {
    font-family: $font-serif;
    font-size: 1.4em;
    display: block;
    margin-bottom: 8px;
}

.search-result-sentence:last-child {
    margin-bottom: 0;
}

// search-result-location beskriver hvor i teksten resulatet findes
.search-result-location {
    text-align: right;
    margin: 0 0 10px 0;
    padding-right: 0 !important; // !important for at overrule padding fra .row .row .row div[class^="col-"]
    font-size: 1.4em;
    font-family: $font-sans-serif-bold;
}

@media(max-width: $bp-small) {
    .search-result-location {
        text-align: left;
    }
    
    .search-result-sentence {
        padding-left: 30px;
        display: inline-block;
    }
}

/*    STYLING FOR RESULTATER I PENSUM    */

// search-results-pensum er wrapper for alting under søgeresultater for pensum
.search-results-pensum {
    display: none;
}

@media (max-width: $bp-small) {
    .search-results-pensum {
        margin-top: 15px;
    }
}

.search-pensum-title {
    font-size: 1.8em;
}

.search-pensum-author {
    font-size: 1.4em;
}

.search-pensum-results {
    display: inline-block; // inline-block er nødvendigt på et element i en li, for at kunne bruge margin
    font-size: 1.2em;
    color: $color-dark-grey;
    margin: 15px 0;
}

.search-result-pensum-wrapper {
    margin-bottom: 20px;
}

.search-result-pensum-cover {
    padding-right: 0 !important;
}

.search-result-pensum-data {
    padding-left: 0 !important;
}

/*    jQUERY ELLER ANIMATION    */

// search-result-text animere search-result-active
.search-result-text {
    transition: background-color 0.5s ease-out;
}

// search-results-pensum er wrapper for alting under søgeresultater for denne tekst
.search-result-pensum-cover img {
        max-width: 100%;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
}