.highlighter-container {
    margin-top: 40px;
    margin-left: -50px;
    
    .btn:hover {
        background-color: #fff;
        border-color: #ccc;
    }
}

.highlighter-container:after {
    background-image: url('../img/tooltip-arrow.png');
    background-size: 30px 15px;
    width: 30px;
    height: 15px;
    content: "";
    position: absolute;
    top: -14px;
    left: 18px;
    z-index: 200;
}

.color-circle {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 10px;
}

.highlighter-container .btn:hover .color-circle {
        transition: all 0.2s ease;
        -webkit-transform: scale(1.5, 1.5);
}

.highlight-none-tooltip {
    border: 1px solid $color-dark-grey;
}