// The global.scss file contains all base styles for the project. Backgrounds, typography etc.

.main-content {
    margin-top: 75px;
}

// Typography
body {
    font-size: 10px;
    font-family: $font-sans-serif;
}

h1,
h2,
h3 {
    font-family: $font-sans-serif-bold;
}

h1 {
    font-size: 4.6em;
}

h2 {
    font-size: 3.2em;
}

h3 {
    font-size: 2.0em;
    text-transform: uppercase;
}

h4 {
    font-size: 1.2em;
    color: #aaa;
}

p {
    font-family: $font-serif;
    font-size: 1.8em;
    margin-bottom: 20px;
    line-height: 1.8em;
}

mark {
    background-color: $color-primary-light; 
}