/* Helper classes */

.visible {
    visibility: visible;
}

.not-visible {
    visibility: hidden;
}

.overflow-hidden {
    overflow: hidden;
}

.italic {
    font-style: italic;
}

.text-muted {
    color: $color-text-muted;
}