// variables.scss holds all global variables for the project (for typography, color schemes, and so on)

// Breakpoints

$bp-small: 768px;
$bp-medium: 992px;
$bp-large: 1200px;

// Colors
$color-base: #333333;
$color-primary: #58B957;
$color-primary-light: lighten($color-primary, 25%);
$color-secondary: #D0021B;

$color-dark-grey: #4A4A4A;
$color-bg: #f6f6f6;

// Typography
$font-serif: Georgia, serif;
$font-sans-serif: 'Brandon Regular', 'Helvetica Neue', sans-serif;
$font-sans-serif-bold: 'Brandon Bold', 'Helvetica Neue', sans-serif;

// Media Queries
// ...
