// variables.scss holds all global variables for the project (for typography, color schemes, and so on)

// Breakpoints
$bp-small: 768px;
$bp-medium: 992px;
$bp-large: 1200px;

// Colors
$color-base: #333333;
$color-light-grey: #f6f6f6;
$color-dark-grey: lighten($color-base, 25%);

$color-primary: #58B957;
$color-primary-light: lighten($color-primary, 25%);
$color-secondary: #D0021B;

$color-bg-dark: $color-base;
$color-bg-light: $color-light-grey;

// Typography
$font-serif: Georgia, serif;
$font-sans-serif: 'Brandon Regular', 'Helvetica Neue', sans-serif;
$font-sans-serif-medium: 'Brandon Medium', 'Helvetica Neue', sans-serif;
$font-sans-serif-bold: 'Brandon Bold', 'Helvetica Neue', sans-serif;

$h1-font-size: 4.6em;
$h2-font-size: 3.2em;
$h3-font-size: 2.0em;
$p-font-size: 1.8em;
