/* PAGE: DASHBOARD */

.dropdown_dashboard {    
    
    .dashboard-welcome {
       margin-bottom: 0px;
    }

    .book-title {
        font-family: $font-sans-serif-medium;
    }

    .book-detail {
        font-family: $font-sans-serif;
        text-transform: none;
        font-size: 14px;
    }
    
    .welcome-text {
        text-align: center;
        padding-bottom: 20px;
        position: relative;
        
        &:after {
            position: absolute;
            content: "";
            border-bottom: 2px solid #ccc;
            bottom: 0;
            left: calc(50% - 50px);
            width: 100px;
        }
    }

    .continue-reading {
        width: 300px;
        margin: 30px auto;
        
        @media(min-width: $bp-small) {
           margin: 40px auto;
        }

        .book-cover {
            width: 80px;
            margin-right: 20px;
            float: left;
            box-shadow: 0 0px 4px 0 rgba(0,0,0,.15);
        }

        .book-details-wrapper {
            float: left;
        }

        .book-title {
            margin-top: 0;
        }

        .btn {
            font-family: $font-sans-serif-medium;
            border-radius: 30px;
        }
    }
    
    .reading-plan {
        display: block;
        margin: 0 auto 40px;
        width: 100%;
        min-height: 200px;
        overflow: hidden;
        
        border: 1px solid #cccccc;
        border-radius: 5px;
        background-color: #fff;

        // .progress-wrapper {
        //     width: 100%;
        // }

        .book-title {
            margin: 0 0 10px;
            font-size: 14px;
        }

        .progress {
            // float: left;
            height: 10px;
            border-radius: 3px;
        }

        .book-detail_progress {
            // float: right;
            // margin: 0;
        }
    }

    .reading-plan-nav {
        height: 60px;
        border-bottom: 1px solid #cccccc;

        .nav-element { 
            float: left;
            height: 100%;
        }

        .nav-link {
            width: 22%;
            background-color: #F0EFEF;
            text-align: center;

            &:hover {
                background-color: darken(#F0EFEF, 3%);
                cursor: pointer;
            }

            .glyphicon {
                font-size: 20px;
                margin-top: 18px;
                color: $color-base;
            }
        }

        .nav-active {
            width: 56%;
            border-left: 1px solid #cccccc;
            border-right: 1px solid #cccccc;

            text-align: center;

            .nav-active_week {
                margin: 12px 0 2px;
            }
            .nav-active_date {
                color: $color-text-muted;
                text-transform: uppercase;
            }
        }

        @media(min-width: $bp-medium) {
            .nav-link { width: 15%; }
            .nav-active { width: 70%; }
        }
    }

    .reading-plan-item {
        height: 120px;
        width: 100%;
        padding: 20px 20px 0 20px;
        overflow: hidden;
        border-bottom: 1px solid #cccccc;

        .book-cover {
            width: 80px;
            margin-top: 1px;
            margin-right: 10px;
            float: left;

            box-shadow: 0 0px 4px 0 rgba(0,0,0,.15);
        }
    }

    .reading-plan-item_done {
        position: relative;
        padding: 20px 0 0 20px;
        height: 80px;
        width: 100%;
        background-color: lighten($color-primary, 38%);

        border-bottom: 1px solid #cccccc;

        &:last-child {
            border: 0;
        }

        .tick {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 40px;
            height: 40px;
        }
    }

    @media(min-width: $bp-small) {
        .reading-plan-item,
        .reading-plan-item_done {
            width: 50%;
            float: left;
        }

        .reading-plan-item_done {
            border-bottom: 0;
        }

        .reading-plan-item:first-child,
        .reading-plan-item_done {
            border-right: 1px solid #cccccc;
        }
        
    }  
}
