/* PAGE: READER */

// Dark mode
.dark-mode {
    background-color: $color-base;
    color: #fff;
    
    .header,
    .dropdown-active .header {
        background-color: darken($color-base, 4%);
        
        .nav-item-icon,
        .nav-item-text,
        .nav-item-active:hover .nav-item-icon{
            color: #fff;
        }
                  
        .nav-item:hover .nav-item-icon {
            background-color: $color-base;
        }
        
        .nav-item-active:hover .nav-item-icon { 
            background-color: $color-primary;
        }
    }
    
    .nav-item-icon:after {
        background-image: url('../img/nav-arrow_dark.png');
    }
    .reading-time {
        color: #fff;
    }
    
    .dropdown {
        background-color: lighten($color-base, 25%);
        color: #fff;
    }
    
    mark {
        color: #fff;
    }
    
    footer {
        color: #fff;
    }
    
    .new-collaborator {
        border: 2px dashed #fff;
    }
    
    .highlight-none {
        background-color: $color-base; 
    }
    
    .search-results a {
        color: #fff;
    }
}

// Dropdowns

.dropdown {
    display: none;
    position: fixed;
    top: 72px;
    padding: 20px 0;
    
    // Position dropdown according to the header on small screens
    @media(max-width: $bp-medium) {
        top: 52px;
    }    

    @media(min-width: $bp-small) {
        padding: 40px 0;
    }
    
    width: 100%;
    max-height: 100%;

    overflow-y: scroll;
    overflow-x: hidden;   
    
    background-color: $color-light-grey;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
    transition: all 0.15s ease-in-out;
    
    z-index: 50;
}
// Media query to position the dropdown and arrow accordingly to the header
@media(max-width: $bp-medium) {
    .dropdown {
        top: 52px;
    }
}

.dropdown h4 {
    margin: 0 0 20px 0;
}

.dropdown_settings {
    text-align: center;
}

.dropdown_settings h3 {
    margin-bottom: 40px;
}

.dropdown_settings ul { // Læsevenner ul
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    
    li {
        display: inline-block; // Læsevenner på linje
        margin-right: 20px;
    }
    
    li:last-child {
        margin-right: 0;
    }
}

// Dropdown - Settings

.setting-font-size {
    font-family: $font-serif;
}

.btn-font-size-medium {
    font-size: 1.4em;
}

.btn-font-size-large {
    font-size: 1.8em;
}

.collaborators img { // Læsevenner > billeder
    max-width: 100px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.new-collaborator {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    border: 2px dashed #000;
    display: inline-block;
    padding-top: 25px;
}

.collaborator-notes {
    position: absolute;
    visibility: hidden;
    padding: 0 15px;
    top: 0;
    left: 0;
}

img.collaborator-on {
    position: fixed;
    display: none;
    width: 100px;
    top: 100px;
    left: 100px;
    z-index: 500;
}

@media(max-width: $bp-small) {
    .setting-collaborators {
        margin-top: 40px;
    }
}