/* PAGE: READER */

// Dark mode
.dark-mode {
    background-color: $color-base;
    color: #fff;
    
    .header-content,
    .dropdown-active .header-content {
        background-color: darken($color-base, 4%);
        
        .nav-item-icon,
        .nav-item-text,
        .nav-item-active:hover .nav-item-icon{
            color: #fff;
        }
                  
        @media(min-width: $bp-medium) {    
            .nav-item:hover .nav-item-icon { 
                background-color: $color-base;
            }
            .nav-item-active:hover .nav-item-icon { 
                background-color: $color-primary;
                color: #ffffff;
            }
        }   
    }
    
    .nav-item-icon:after {
        background-image: url('../img/nav-arrow_dark.png');
    }
    .reading-time {
        color: #fff;
    }
    
    .dropdown {
        background-color: lighten($color-base, 25%);
        color: #fff;

        .reading-plan {
            h4,
            h5,
            h6 {
                color: $color-base;
            }
        }

    }
    
    mark {
        color: #fff;
    }
    
    footer {
        color: #fff;
    }
        
    .highlight-none {
        background-color: $color-base; 
    }
    
    .search-results a {
        color: #fff;
    }
    
    .collaborator-main-content span {
        color: #fff;
    }
    
    .collaborators img { // Læsevenner > billeder
        box-shadow: 0 0 0 2px lighten($color-base, 25%),
                    0 0 0 4px #ffffff;

        &:hover {
            box-shadow: 0 0 0 2px lighten($color-base, 25%),
                        0 0 0 4px $color-primary;
        }
    }

    img.collaborator-on {
        box-shadow: 0 0 0 2px lighten($color-base, 25%),
                    0 0 0 4px $color-primary;

        &:hover {
            box-shadow: 0 0 0 2px lighten($color-base, 25%),
                    0 0 0 4px #e43b3b;
        }
    }

    .new-collaborator {        
        box-shadow: 0 0 0 2px lighten($color-base, 25%),
                    0 0 0 4px #ffffff;

        &:hover {
            text-decoration: none;
            box-shadow: 0 0 0 2px lighten($color-base, 25%),
                        0 0 0 4px $color-primary;
        }
    }
    
    .collaborator-main-content {
    
        img {
            box-shadow: 0 0 0 2px lighten($color-base, 25%),
                        0 0 0 4px $color-primary;

            &:hover {
                box-shadow: 0 0 0 2px lighten($color-base, 25%),
                            0 0 0 4px #e43b3b;
            }
        }
    }
    
    @media(max-width: $bp-medium) {
        .collaborator-main-content {

            background-color: darken($color-base, 4%);
        }
    }
    
    .add-collaborator {
        color: #fff;
    }
        
    .reading-position-indicator {
        // Progress bar value for IE10+
        color: #fff;
        // Vendor pseudo elements to style the value
        &::-webkit-progress-value {
            background-color: #fff;
        }

        &::-moz-progress-bar {
            background-color: #fff;
        }
    }
}

// Dropdowns

.dropdown {
    display: none;
    position: fixed;
    top: 0; // Var 72px på desktop
    
    padding: 82px 0 30px; // Top: Header heigh 52px + 30px padding-top
    
    @media(min-width: $bp-medium) {
        padding: 112px 0 40px; // Top: Header height 72px + 40px padding-top
    }
    
    width: 100%;
    max-height: 100%;

    overflow-y: scroll;
    overflow-x: hidden;   
    
    background-color: $color-light-grey;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
//    transition: all 0.15s ease-in-out;
    
    z-index: 50;
}

.dropdown h4 {
    margin: 0 0 20px 0;
}

.dropdown_settings {
    text-align: center;
}

.dropdown_settings h3 {
    margin-bottom: 40px;
}

.dropdown_settings ul { // Læsevenner ul
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    
    li {
        display: inline-block; // Læsevenner på linje
        margin-right: 20px;
    }
    
    li:last-child {
        margin-right: 0;
    }
}

// Dropdown - Settings

.setting-group_theme {
    margin-bottom: 20px;
    
    @media(min-width: $bp-medium) {
        .setting-group_theme {
            margin-bottom: 0;
        }
    }
}

.setting-font-size {
    font-family: $font-serif;
}

.btn-font-size-medium {
    font-size: 1.4em;
}

.btn-font-size-large {
    font-size: 1.8em;
}

.collaborators img { // Læsevenner > billeder
    max-width: 100px;
    border-radius: 50%;
    
    transition: box-shadow 0.25s ease;
    
    box-shadow: 0 0 0 2px $color-light-grey,
                0 0 0 4px #ffffff;
    
    &:hover {
        box-shadow: 0 0 0 2px $color-light-grey,
                    0 0 0 4px $color-primary;
    }
}

img.collaborator-on {
    box-shadow: 0 0 0 2px $color-light-grey,
                0 0 0 4px $color-primary;
    
    &:hover {
        box-shadow: 0 0 0 2px $color-light-grey,
                0 0 0 4px #e43b3b;
    }
}

.new-collaborator {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    display: inline-block;
    padding-top: 18px;
    
    transition: all 0.25s ease-in-out;
    
    box-shadow: 0 0 0 2px $color-light-grey,
                0 0 0 4px #ffffff;
    
    &:hover {
        text-decoration: none;
        box-shadow: 0 0 0 2px $color-light-grey,
                    0 0 0 4px $color-primary;
    }
}

.new-collaborator .glyphicon {
    color: $color-base;
    font-size: 3em;
    overflow: hidden;
}

.add-collaborator {
    display: block;
    color: $color-base;
    font-size: 1.4em;
    text-decoration: none;
}

.collaborator-notes {
    position: absolute;
    visibility: hidden;
    padding: 0 15px;
    top: 0;
    left: 0;
}

.collaborator-main-content {
    a,
    a:hover,
    a:focus,
    a:visited {
        text-decoration: none;
        color: $color-base;
    }
    
    visibility: hidden;
    position: absolute;

    right: 20px;
    bottom: -70px;
    
    img {
        border-radius: 50%;
        max-height: 50px;
        box-shadow: 0 0 0 2px white,
                    0 0 0 4px $color-primary;
        
        transition: box-shadow .15s ease-in-out;
        
        &:hover {
            box-shadow: 0 0 0 2px white,
                        0 0 0 4px #e43b3b;
        }
    }
    
    span {
        font-size: 1em;
        text-transform: uppercase;
        margin-right: 10px;
    }
}

@media(max-width: $bp-medium) {
    .collaborator-main-content {
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        top: auto;
        background-color: rgba(255, 255, 255, 0.85);
        right: 0;
        padding: 10px 0;
        
        span {
            margin-bottom: 10px;
        }
        
        img {
            max-height: 35px;
        }
    }
}

.dropdown-active .collaborator-main-content {
    display: none;
}


@media(max-width: $bp-small) {
    .setting-collaborators {
        margin-top: 40px;
    }
}

// DROPDOWN - Table of Contents

// Chapters and sections
.toc-wrapper  {
    margin-bottom: 30px;
    
    @media(min-width: $bp-small) {
            margin-bottom: 0;
    }
}

ul.toc-chapter {
    margin-bottom: 0;
    padding-left: 0;
    
    @media(min-width: $bp-medium) {
        padding-left: 15px;
    }
    
    li {
        list-style-type: none;
        font-size: 1.8em;
        margin-bottom: 10px;
        
        &:last-child {
            margin-bottom: 0;
        }

        ul {
            margin-top: 5px;
            padding-bottom: 5;
            padding-left: 20px;
            
            li {
                margin-bottom: 2px;
                font-size: 0.8em; // 3rd niveau
                a {
                    color: $color-base;
                }
            }
        }   
    }
}
.panel_disabled a:hover {
    text-decoration: none;
    cursor: default;
    
}

.panel-title {
    padding-top: 0;
    margin-top: 0;
    
    a,
    a:hover {
        color: $color-base;
    }
}

.chapter-reading-time {
    display: none;
    
    @media(min-width: $bp-small) {
        display: inline;
        
        float: right !important;
        color: #999999;
    }
}

.book-section-title {
    margin-bottom: 10px;
}

.book-details ul {
    margin: 0;
    padding: 0;

    li { list-style-type: none; }
}

.book-author {
    padding: 0 15px;
    margin-top: 20px;
    
    p {
        text-indent: 0;
        font-size: 14px;
    }
    
}

// This book
.book-cover-wrapper {
    padding-right: 0 !important;
    
    .book-cover {
        width: 100%;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
    }
}
